<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<meta charset="UTF-8">
<!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="singleStep.js"></script>
  <link rel="stylesheet" type="text/css" href="singleStep.css">
-->

</head>
<body>

    <style type="text/css">
      
        .answerArea {
/*            border: 1px solid;*/
            width: 450px;
            height:1000px;
      }
        .answerOption {
            border: 1px solid;
            width: 450px;
            height:150px;
        }
        .molDisplay {
            border: 1px solid;
            width: 200px;
            height:200px;
            float: left;
      }
        #groupThingy {
            border: 1px solid;
            height: 250px;
        }

        
    
    </style>

    <div class = answerArea>
        <div id = groupThingy>
            What when the following reagent is added to the reactant molecule, what molecule will be produced?<br>
            
            <div class = "molDisplay" id = "leftMol">
                <div>Start Molecule</div>
            </div>
            <div class = "molDisplay" id = "rightMol">
                <div>Reagents Applied</div><br>
            </div>
        </div>
        
        
    </div>
    
</body>
    
</html>

<script>
    var NUM_OPTIONS = {{NUM_OPTIONS}}
    
    function renderSVG(smiles, jqThing){
        $.ajax({url:"/api/renderSVG", data: {"molecule": smiles}, success: function(data, st, x){jqThing.append(data);}})
    }
    
    function react(reactionID, reactantSmiles){
        $.ajax({url:"/api/react", data: {"reaction": reactionID, "reactants": reactantSmiles}, success: function(data, st, x){return data;}})
    }
    
    var reactant = "{{reactant_smiles}}";
    renderSVG(reactant, $("#leftMol"));
    $("#rightMol").append('<div id = "reagentsApplied">{{reagents}}</div>');
//    
////    function randomGen(least, greatest){
////        return Math.floor((Math.random() * (greatest-least+1)) + least);
////    }
    var answerArea = $(".answerArea");
    for (var i = 0; i < NUM_OPTIONS; i++){
        var choice = {{answers|safe}}[i];
        var answerOption = '<div class = answerOption id = opt' + i + '></div>';
        answerArea.append(answerOption);
        answerOption = $("#opt" + i);
        answerOption.append('<input type="radio" name="reagent" value='+ choice + '>');
        renderSVG(choice, answerOption);
//        answerArea.append('<br>');
    
    }
//
//    
//    
    answerArea.append('<button id = "submit" >Submit</button>');
    answerArea.append('<div id = "answerStatus" ></div>');
    
    $("#submit").click(function() {
        var correctAnswer = "{{correct_answer}}";
        if ($("input[@name=radio]:checked").val() == correctAnswer){
            $("#answerStatus").text("right");
        }
        else {
            $("#answerStatus").text("wrong");
        }
    });

</script>
