<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <style type="text/css">
      .column {
        display: inline-block;
        border: solid;
        padding: 10px;
      }
      .submitted-reagent {
        padding: 2px;
        border: dashed;
        margin: 2px;
      }
    </style>
    <script>
    </script>
  </head>
  <body>
    <div id="predictProductsHardProblem">
      <div class="reactants column"></div>
      <div class="reaction column"></div>
      <div class="products column">

        <!-- input etc. goes here later -->
      </div>
    </div>
  </body>
</html>
