<html>

<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <meta charset="UTF-8">
<!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="singleStep.js"></script>
  <link rel="stylesheet" type="text/css" href="singleStep.css">
-->
  <style type="text/css">
    body {
      font-family: Arial, Verdana, sans-serif;
    }
    .column {
      display: inline-block;
      border: solid;
      padding: 10px;
    }
    .submitted-reagent {
      padding: 2px;
      border: dashed;
      margin: 2px;
    }
    .singleStepHardProblem {
        width: 800px;
    }

    .submitted-reagent:hover {
        background-color: gray;
    }

    .controls * {
        float: right;
        margin-top: 10px;
    }

  </style>


  <script>

        function student_answer_for_edx() {
            var solList = [];
            $('.submitted-reagent').each( function(ii, ele) {
                solList.push($(this).text());
            });
            return solList.sort(); //order makes list unique
        }

        function right_answer_for_edx() {
            var solList = {{reagents|safe}};
            return solList.sort(); //order makes list unique
        }

        $(document).ready(function() {

            var finalReagents = [];
            var solutionReagents = {{ reagents|safe }}; //list of Strings with reagent names

            function displayMolecule(smiles, location) {
                $.ajax({ url:"/api/renderSVG", data: {"molecule": smiles}, success: function(data, st, x) {location.append(data);} }); //what is st and x?
            }

            function updateValidReagents(rgStart) {
                $.ajax({ url:"/api/findReagents", data:{"name": rgStart}, success:function(data, st, x) {
                    var menu = $('#valid-reagents');
                    menu.children().remove();
                    data = JSON.parse(data);
                    for (iRg = 0; iRg < data.length; iRg++) {
                        var new_reagent = $('<option>', {
                            "value": data[iRg]["name"]
                        });
                        if (data[iRg]["is_solvent"]) {
                            new_reagent.text("Solvent");
                        }
                        menu.append(new_reagent);
                    }

                } });
            }

            function createSubmittedReagent(value) {
                var reagent = $('<span>', {
                    class : "submitted-reagent",
                    'title' : "Remove" 
                });
                reagent.text(value);
                return reagent;
            }

            displayMolecule('{{reactant}}', $('.reactants') );
            displayMolecule('{{product}}', $('.products') );
            

            //Do different things for certain keys
            $('#reagent-menu').keydown(function(e) {
                if (e.which == 13) {
                    // The enter key was pressed
                    e.preventDefault();
                    $('.add-reagent').click();
                }
                if (e.which == 32) {
                    return false; //prevents space bar from working
                }
            });

            // Update dropdown when value is entered
            $('#reagent-menu').keyup(function(e) {

                var rgStart = this.value;
                if (rgStart.length > 0) {
                    updateValidReagents(rgStart);
                } else {
                    $('#valid-reagents').children().remove();
                }
            });


            // When a reagent is added, do this:
            $('.add-reagent').click(function(e) {
                var menu = $('#reagent-menu');
                var value = $.trim(menu.val());
                if (value.length == 0) {
                    menu.val(''); //reset the bar in case there were spaces, etc. that got trimmed
                    menu.focus();
                    return;
                }

                $.ajax({ url:"/api/getValidReagent", data: {"name": value}, success: function(data, st, x) {
                    var reagent = createSubmittedReagent(data);
                    $('.submitted-reagents-box').append(reagent);
                    // $('.submitted-reagent').addEventListener("click", deleteReagent, false);

                    $('.no-reagents').css("display", "none");
                    $('#valid-reagents').children().remove();
                    menu.val('');
                    menu.focus();
                    
                }, error: function(x, st, error) {
                    $('.message').text("No such reagent exists");
                } });

            });

            $('.submitted-reagents-box').on("click", "span", function(e) {
                $(this).remove();

                if ($('.submitted-reagent').length == 0) {
                    $('.no-reagents').css("display","inline");
                }
            });

            $('.check').click(function(e) {
                var tempSolution = solutionReagents.slice(0);
                var correct = true;
                $('.submitted-reagent').each(function(ii, ele) {
                    var rg = $(this).text();
                    var iSol = tempSolution.indexOf(rg);
                    if (iSol < 0) {
                        correct = false; //submitted reagent is not in solutions
                    } else {
                        tempSolution.splice(iSol, 1); //remove that reagent
                    }
                });
                if (tempSolution.length > 0) {
                    correct = false; //didn't get all the reagents in the solution
                }

                if (correct) {
                    $('.message').text("That's right!");
                } else {
                    $('.message').text("Not quite");
                }

            })


        })
    </script>


</head>

<body>

    <div class="singleStepHardProblem">

        <div class="problem">
            <div class="reactants column">
            </div>

            <div class="reaction column">
                <div class="submitted-reagents-box">
                    <span class="no-reagents">? ?</span>
                </div>

                <div class="arrow">
                    -------------------------> <!-- Use a legit arrow later -->
                </div>

                <div class="solvent">
                    Solvent?
                </div>

                <div class="reagent-menu-box">
                    <input class="menu" id="reagent-menu" type="text" list="valid-reagents" placeholder="Insert reagent or solvent here" autofocus>
                    <button class="add-reagent">Add</button>

                    <datalist id="valid-reagents" class="menu">
                    </datalist>
                </div>
            </div>

            <div class="products column">
            </div>
        </div>

        <div class="controls">
            <span class="message"> Test message </span>
            <button class="check">Submit</button>

        </div>
    </div>



</body>

</html>
