<html>

<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<meta charset="UTF-8">
<!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="singleStep.js"></script>
  <link rel="stylesheet" type="text/css" href="singleStep.css">
-->
	<style type="text/css">
		.column {
			display: inline-block;
			border: solid;
			padding: 10px;
		}

		.submitted-reagent {
			padding: 2px;
			border: dashed;
			margin: 2px;
		}

	</style>


	<script>
		$(document).ready(function() {

			var finalReagents = [];

			function displayMolecule(smiles, location) {
				$.ajax({ url:"/api/renderSVG", data: {"molecule": smiles}, success: function(data, st, x) {location.append(data);} }) //what is st and x?
			}

			// TODO: Use api methods to create a dropdown menu of valid reagents to show based on what user typed so far


			displayMolecule('{{reactant}}', $('.reactants') );
			displayMolecule('{{product}}', $('.products') );

			$('.reagent-menu').keydown(function(e) {
				if (e.which == 13) {
					// The enter key was pressed
					e.preventDefault();
					$('.add-reagent').click();
				}
			});

			$('.add-reagent').click(function(e) {
				var menu = $('.reagent-menu');
				var value = menu.val();
				finalReagents.push(value);
				var reagent = $('<span>', {
					class: "submitted-reagent"
				});
				reagent.text(value);
				$('.submitted-reagents-box').append(reagent);
				$('.no-reagents').remove();
				menu.val('');
				menu.focus();
			})
		})
	</script>

</head>

<body>

	<div class="singleStepHardProblem">
		<div class="reactants column">
		</div>

		<div class="reaction column">
			<div class="submitted-reagents-box">
				<span class="no-reagents">? ?</span>
			</div>

			<div class="arrow">
				-------------------------> <!-- Use a legit arrow later -->
			</div>

			<div class="solvent">
				Solvent?
			</div>

			<div class="reagent-menu-box">
				<input class="reagent-menu" type="text" placeholder="Insert reagent or solvent here" autofocus autocomplete="on">
				<button class="add-reagent">Add</button>
			</div>
		</div>

		<div class="products column">
		</div>
	</div>


</body>

</html>
