<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<meta charset="UTF-8">
<!--
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="singleStep.js"></script>
  <link rel="stylesheet" type="text/css" href="singleStep.css">
-->

</head>
<body>

    <style type="text/css">
      
        .answerArea {
            border: 0px solid;
/*            width: 500px;
            height:500px;*/
            margin:10px;
      }
        .molDisplay {
            border: 0px solid;
/*            width: 200px;
            height:200px;*/
            float: left;
            margin:20px;
      }
        #groupThingy {
            border: 0px solid;
            height: 300px;
        }

        
    
    </style>

    <div class = answerArea>
        <div id = groupThingy>
            What reagents do you need to add to the start molecule to get to the target molecule?<br>
            <div class = "molDisplay" id = "leftMol">
                <div>Start Molecule</div>
            </div>
            <div class = "molDisplay" id = "rightMol">
                <div>Target Molecule</div>
            </div>
        </div>
    </div>
    
</body>
    
</html>
<script type="text/javascript" src="/orgo/static/edx_include/demo_files/jquery.js"></script>
<script type="text/javascript" src="/orgo/static/edx_include/demo_files/jschannel.js"></script>
<script type="text/javascript" src="/orgo/static/edx_include/demo_files/jsinput_client.js"></script>
<script>
    
    function student_answer_for_edx() {
        return $("input.reagent:checked").val();
    }

    function right_answer_for_edx() {
        return "{{correct_answer}}";
    }

    function reset_student_answer(old_value) {
        $("input.reagent").each(function(index, elem) {
            if (elem.defaultValue == old_value) {
                elem.checked = true;
            } else {
                elem.checked = false;
            }
        });
    }

    var NUM_OPTIONS = {{NUM_OPTIONS}}
    
    function renderSVG(smiles, jqThing){
        $.ajax({url:"/api/renderSVG", data: {"molecule": smiles}, success: function(data, st, x){jqThing.append(data);}})
    }
    
    var reactant = "{{reactant_smiles}}";
    var product = "{{product_smiles}}";
    renderSVG(reactant, $("#leftMol"));
    renderSVG(product, $("#rightMol"));
    
//    function randomGen(least, greatest){
//        return Math.floor((Math.random() * (greatest-least+1)) + least);
//    }

    function putAnswers() {
        var answerArea = $(".answerArea");
        for (var i = 0; i < NUM_OPTIONS; i++){
          var choice = ["H<sub>2</sub>, Pd|C", "HCl", "NaOH", "BH<sub>3</sub>"][i]
          answerArea.append('<input type="radio" name="reagent" class="reagent" value=\"'+ choice + '\"">' + choice + '<br />');
        }
        answerArea.append('<div id = "answerStatus" ></div>');
    }
    putAnswers();

    
    
    answerArea.append('<button id = "submit" >Submit</button>');
    answerArea.append('<div id = "answerStatus" ></div>');
    
    $("#submit").click(function() {
        var correctAnswer = "{{correct_answer}}";
        if ($("input.reagent:checked").val() == correctAnswer){
            $("#answerStatus").text("right");
        }
        else {
            $("#answerStatus").text("wrong");
        }
}   );

</script>
