<html>
    <head>
        <title>App Views</title>
        <style>
            body {
                font-family: Arial, Verdana, sans-serif;
                margin:20px;
            }
        </style>
    </head>
    <body>
        <h1>App</h1>
        <ul>
            <!--<li><a href="synthesis/1/">Test views.synthesis</a></li>-->
            <li><a href="singleStep/1/">Test views.single_step</a></li>
            <li><a href="singleStepHard/1/">Test views.single_step_hard</a></li>
            <li><a href="predictProducts/1/">Test views.predict_products</a></li>
        </ul>
        <h3><a href="/api">Go to api</a></h3>
    </body>
</html>