<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <title>Single-Step Problem (Hard Mode)</title>
<meta charset="UTF-8">

    <style type="text/css">
        .singleStepHardProblem {
            width: 700px;
        }
        body {
            font-family:Arial,Verdana,sans-serif;
        }
        .column {
            display: inline-block;
            border: 0px solid;
            padding: 10px;
        }
        .reactants, .products {
            background-color:#EEEEEE;
            border-radius:10px;
        }
        .reaction input {
            width: 200px;
        }
        .submitted-reagent {
            padding: 2px;
            border: dashed;
            margin: 2px;
        }
        .submitted-reagent:hover {
            background-color: gray;
            cursor: pointer;
        }
        .controls * {
            float: right;
            margin: 10px;
        }
        .solvent-menu {
            float: right;
            color: gray;
            font-size: 0.6em;
            /*vertical-align: middle;*/
        }
        .solvent {
            margin-bottom: 10px;
            margin-left: 30px;
        }
        img {
            margin:10px;
        }
        .submitted-reagents-box {

        }
        .no-reagents {
            margin: 30px;
        }

    </style>


    <script>

        // function student_answer_for_edx() {
        //     var solList = [];
        //     $('.submitted-reagent').each( function(ii, ele) {
        //         solList.push($(this).text());
        //     });
        //     return solList.sort(); //order makes list unique
        // }

        // function right_answer_for_edx() {
        //     var solList = {{reagent_sets|safe}};
        //     return solList.sort(); //order makes list unique
        // }

        $(document).ready(function() {

            var finalReagentIDs = []; //stores the reagent IDs as they are added/removed
            var finalSolventID = -1;

            function displayMolecule(smiles, location) {
                $.ajax({ url:"/api/renderSVG", data: {"molecule": smiles}, success: function(data, st, x) {
                    location.append(data);
                } });
            }
            
            displayMolecule('{{reactant}}', $('.reactants') );
            displayMolecule('{{product}}', $('.products') );

            var reagentNames = []; //list of objects with "label" = name,"rID" = reagent id, "description" = other names, "isSolvent" = true/false
            $.ajax({ url:"/api/allReagentNames", async: false, success: function(data, st, x) {
                // console.log(data);
                reagentNames = data;
            } });

            //called when user chooses a reagent from the dropdown menu
            function createSubmittedReagent(reagent) {
                var submittedReagent = $('<span>', {
                    class : "submitted-reagent",
                    "title" : "Remove",
                }).data("rID", reagent.rID);
                submittedReagent.html(reagent.label);
                if (reagent.isSolvent) {
                    $('.solvent').children('.submitted-reagent').remove();
                    $('.solvent').append(submittedReagent);
                    $('.no-solvent').css("display", "none");
                    finalSolventID = reagent.rID;
                }
                else {
                    var reagentIndex = finalReagentIDs.indexOf(reagent.rID);
                    if ( reagentIndex < 0 ) { //reagent not already submitted
                        $('.submitted-reagents-box').append(submittedReagent);
                        $('.no-reagents').css("display", "none");
                        finalReagentIDs.push(reagent.rID);
                        console.log(finalReagentIDs);
                    }
                    else {
                        $('.message').html(reagent.label + " was already added.")
                    }
;                }
                var menu = $('#reagent-menu');
                menu.val('');
                menu.focus();
            }

            

            //Do different things for certain keys
            $('#reagent-menu').keydown(function(e) {
                if (e.which == 13) {
                    // The enter key was pressed
                    e.preventDefault();
                    // $('.add-reagent').click(); //no longer using Add button
                }
            });

            // TODO: adjust this as needed!
            var reagent_menu = $('#reagent-menu');
            reagent_menu.autocomplete({
              minLength: 1, //min number of chars to be typed before searching for results
              source: reagentNames,
              focus: function( event, ui ) {
                // $( "#reagent-menu" ).val( ui.item.label );
                // console.log(ui.item);
                return false;
              },
              select: function( event, ui ) {
                $( "#reagent-menu" ).val( ui.item.label ); //not needed
                $( "#reagent-id" ).val( ui.item.rID ); //not needed
                createSubmittedReagent(ui.item)
                return false;
              }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                var otherNames = $("<div>").append(' <font size="2"><i>' + item.description + "</i></font>").css("display", "block");
                var newItem = $("<a>").append(item.label);
                if (item.isSolvent) {
                    newItem.append('<span class="solvent-menu">Solvent</span>');
                }
                newItem.append(otherNames);
                var menuItem = $( "<li>" ).append( newItem );
                // .on("autocompletefocus", function (event, ui) {
                //     $(this).find('div').css("display", "block");
                // });
                return menuItem.appendTo( ul );
            };

            $('.submitted-reagents-box').on("click", ".submitted-reagent", function(e) {
                var reagentIndex = finalReagentIDs.indexOf( $(this).data("rID") );
                if (reagentIndex > -1) {
                    finalReagentIDs.splice(reagentIndex, 1); //removes that reagent ID from list
                }

                $(this).remove(); //remove the UI-side reagent box

                if ($('.submitted-reagents-box .submitted-reagent').length == 0) {
                    $('.no-reagents').css("display","inline");
                }
            });

            $('.solvent').on("click", ".submitted-reagent", function(e) {
                $(this).remove();
                finalSolventID = -1;
                $('.no-solvent').css("display","inline");
                
            });


            //Called when the SUBMIT button is clicked!
            $('.check').click(function(e) {
                var submittedReagents = []
                $('.submitted-reagent').each( function(ii, ele) {
                    submittedReagents.push($(this).data("rID"));
                });
                var solventID = $('.solvent .submitted-reagent').data('rID');
                console.log("Passing to ajax request...");
                console.log(JSON.stringify( {{reagent_sets|safe}} ) );
                console.log(JSON.stringify(finalReagentIDs));
                console.log("Ajax request starting...")

                $.ajax({ 
                    url: "/api/isCorrectReagentSet", 
                    data: {
                        "submitted_reagents":JSON.stringify(finalReagentIDs),
                        "solvent_id":finalSolventID,
                        "solution_ids": JSON.stringify({{reagent_sets|safe}}) 
                    },
                    success: function(data,st,x) {
                        $('.message').empty();
                        console.log(data);
                        var correct = data.answer; //data.answer should be a boolean
                        console.log(correct);
                        if (correct) {
                            $('.message').append("Good job!");
                        }
                        else {
                            $('.message').append("Not quite. Try again!");
                    }
                    // $('.message').append(data);
                } });

                // if (correct) {
                //     $('.message').text("That's right!");
                // } else {
                //     $('.message').text("Not quite");
                // }

            });


        })
    </script>


</head>

<body>

    <div class="singleStepHardProblem">

        <div class="problem">
            <div class="reactants column">
            </div>

            <div class="reaction column">
                <div class="submitted-reagents-box">
                    <span class="no-reagents">Reagents?</span>
                </div>

                <div class="arrow">
                    <img src="/orgo/static/arrow.png"></img> <!-- Use a legit arrow later -->
                </div>

                <div class="solvent">
                    <span class="no-solvent">Solvent?</span>
                </div>

                <div class="reagent-menu-box">
                    <input id="reagent-menu" type="text" placeholder="Insert reagent or solvent here" autofocus>
                    <input id="reagent-id" type="hidden">
                </div>
            </div>

            <div class="products column">
            </div>
        </div>

        <div class="controls">
            <button class="check">Check</button>
            <span class="message"> </span>

        </div>
    </div>



</body>

</html>
