<html>

<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <title>Single-Step Problem (Hard Mode)</title>
<meta charset="UTF-8">

    <style type="text/css">
        .singleStepHardProblem {
            width: 800px;
        }
        body {
            font-family:Arial,Verdana,sans-serif;
        }
        .column {
            display: inline-block;
            border: 0px solid;
            padding: 10px;
        }
        .reactants, .products {
            background-color:#EEEEEE;
            border-radius:10px;
        }
        .reaction input {
            width: 200px;
        }
        .submitted-reagent {
            padding: 2px;
            border: dashed;
            margin: 2px;
        }
        .submitted-reagent:hover {
            background-color: gray;
            cursor: pointer;
        }
        .controls * {
            float: right;
            margin: 10px;
        }
        .solvent {
            float: right;
            color: gray;
            font-size: 0.6em;
            /*vertical-align: middle;*/
        }
        img {
            margin-bottom:50px;
        }

    </style>


    <script>

        function student_answer_for_edx() {
            var solList = [];
            $('.submitted-reagent').each( function(ii, ele) {
                solList.push($(this).text());
            });
            return solList.sort(); //order makes list unique
        }

        function right_answer_for_edx() {
            var solList = {{reagent_sets|safe}};
            return solList.sort(); //order makes list unique
        }

        $(document).ready(function() {

            var finalReagents = []; //not being  used right now
            // var solutionReagents = {{ reagents|safe }}; //list of Strings with reagent names

            // var $ = jQuery.noConflict();

            function displayMolecule(smiles, location) {
                $.ajax({ url:"/api/renderSVG", data: {"molecule": smiles}, success: function(data, st, x) {
                    location.append(data);
                } });
            }
            
            displayMolecule('{{reactant}}', $('.reactants') );
            displayMolecule('{{product}}', $('.products') );

            var reagentNames = []; //list of objects with "name","id" = reagent id, "description" = other names 
            $.ajax({ url:"/api/allReagentNames", async: false, success: function(data, st, x) {
                console.log("Printing data")
                console.log(data);
                // console.log(JSON.parse(data));
                reagentNames = data;
            } });

            // function updateValidReagents(rgStart) {
            //     $.ajax({ url:"/api/findReagents", data:{"name": rgStart}, success:function(data, st, x) {
            //         var menu = $('#valid-reagents');
            //         menu.children().remove();
            //         data = JSON.parse(data);
            //         for (iRg = 0; iRg < data.length; iRg++) {
            //             var new_reagent = $('<option>', {
            //                 "value": data[iRg]["name"]
            //             });
            //             if (data[iRg]["is_solvent"]) {
            //                 new_reagent.text("Solvent");
            //             }
            //             menu.append(new_reagent);
            //         }

            //     } });
            // }

            function createSubmittedReagent(reagent) {
                var submittedReagent = $('<span>', {
                    class : "submitted-reagent",
                    "title" : "Remove",
                    "data-rID" : reagent.rID
                });
                submittedReagent.text(reagent.label);
                $('.submitted-reagents-box').append(submittedReagent);

                $('.no-reagents').css("display", "none");
                var menu = $('#reagent-menu');
                menu.val('');
                menu.focus();
            }

            

            //Do different things for certain keys
            $('#reagent-menu').keydown(function(e) {
                if (e.which == 13) {
                    // The enter key was pressed
                    e.preventDefault();
                    // $('.add-reagent').click(); //no longer using Add button
                }
               /* if (e.which == 32) {
                    return false; //prevents space bar from working
                }*/
            });

            // TODO: adjust this as needed!
            var reagent_menu = $('#reagent-menu');
            reagent_menu.autocomplete({
              minLength: 1, //min number of chars to be typed before searching for results
              source: reagentNames,
              focus: function( event, ui ) {
                // $( "#reagent-menu" ).val( ui.item.label );
                // console.log(ui.item);
                return false;
              },
              select: function( event, ui ) {
                $( "#reagent-menu" ).val( ui.item.label ); //not needed
                $( "#reagent-id" ).val( ui.item.rID ); //not needed
                createSubmittedReagent(ui.item)
                return false;
              }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                var otherNames = $("<div>").append(' <font size="2"><i>' + item.description + "</i></font>").css("display", "none");
                var newItem = $("<a>").append(item.label);
                if (item.solvent) {
                    newItem.append('<span class="solvent">Solvent</span>');
                }
                newItem.append(otherNames);
                var menuItem = $( "<li>" ).append( newItem );
                // .on("autocompletefocus", function (event, ui) {
                //     $(this).find('div').css("display", "block");
                // });
                return menuItem.appendTo( ul );
            };



            // This code is no longer used, since the Add button is being removed.
            // // When a reagent is added, do this:
            // $('.add-reagent').click(function(e) {
            //     var menu = $('#reagent-menu');
            //     var rID = $('#reagent-id').val();
            //     var reagentName = $.trim(menu.val());
            //     if (reagentName.length == 0) {
            //         menu.val(''); //reset the bar in case there were spaces, etc. that got trimmed
            //         menu.focus();
            //         return;
            //     }

            //     // TODO: All answers are currently valid. Verify whats entered
            //     createSubmittedReagent(reagentName);
            //     $('.no-reagents').css("display", "none");
            //     menu.val('');
            //     menu.focus();

            // });

            $('.submitted-reagents-box').on("click", "span", function(e) {
                $(this).remove();

                if ($('.submitted-reagent').length == 0) {
                    $('.no-reagents').css("display","inline");
                }
            });

            $('.check').click(function(e) {
                var submittedReagents = []
                $('.submitted-reagent').each( function(ii, ele) {
                    submittedReagents.push($(this).text());
                });

                $.ajax({ url:"/api/isCorrectReagentSet", data:{"submitted_reagents":submittedReagents, "solvent_id":1, "solution_ids":{{reagent_sets|safe}} }, success: function(data,st,x) {
                    console.log(data);
                    // TODO: print correct or wrong messages based on if data(correct) is True or False
                } });

                // if (correct) {
                //     $('.message').text("That's right!");
                // } else {
                //     $('.message').text("Not quite");
                // }

            });


        })
    </script>


</head>

<body>

    <div class="singleStepHardProblem">

        <div class="problem">
            <div class="reactants column">
            </div>

            <div class="reaction column">
                <div class="submitted-reagents-box">
                    <span class="no-reagents">? ?</span>
                </div>

                <div class="arrow">
                    <img src="http://felixsun.scripts.mit.edu/orgo/static/arrow.png"></img> <!-- Use a legit arrow later -->
                </div>

                <div class="solvent">
                    Reagents?
                </div>

                <div class="reagent-menu-box">
                    <input id="reagent-menu" type="text" placeholder="Insert reagent or solvent here" autofocus>
                    <input id="reagent-id" type="hidden">
                </div>
            </div>

            <div class="products column">
            </div>
        </div>

        <div class="controls">
            <button class="check">Submit</button>
            <span class="message"> Test message </span>

        </div>
    </div>



</body>

</html>
