<html>

<head>
  <title>Single-Step Problem (Hard Mode)</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <meta charset="UTF-8">

    <style type="text/css">
        .singleStepHardProblem {
            width: 800px;
        }
        body {
            font-family:Arial,Verdana,sans-serif;
        }
        .column {
            display: inline-block;
            border: 0px solid;
            padding: 10px;
        }
        .reactants, .products {
            background-color:#EEEEEE;
            border-radius:10px;
        }
        .submitted-reagent {
            padding: 2px;
            border: dashed;
            margin: 2px;
        }
        .submitted-reagent:hover {
            background-color: gray;
            cursor: pointer;
        }
        .controls * {
            float: right;
            margin: 10px;
        }
        img {
            margin-bottom:50px;
        }

    </style>


    <script>

        function student_answer_for_edx() {
            var solList = [];
            $('.submitted-reagent').each( function(ii, ele) {
                solList.push($(this).text());
            });
            return solList.sort(); //order makes list unique
        }

        function right_answer_for_edx() {
            var solList = {{reagent_sets|safe}};
            return solList.sort(); //order makes list unique
        }

        $(document).ready(function() {

            var finalReagents = [];
            // var solutionReagents = {{ reagents|safe }}; //list of Strings with reagent names

            var reagentNames = []; //list of objects with "name","reagent" = reagent id, "description" = other names 
            $.ajax({ url:"/api/allReagentNames", success: function(data, st, x) {
                console.log(data);
                console.log(JSON.parse(data));
                reagentNames = JSON.parse(data);
            } });

            function displayMolecule(smiles, location) {
                $.ajax({ url:"/api/renderSVG", data: {"molecule": smiles}, success: function(data, st, x) {location.append(data);} }); //what is st and x?
            }

            // function updateValidReagents(rgStart) {
            //     $.ajax({ url:"/api/findReagents", data:{"name": rgStart}, success:function(data, st, x) {
            //         var menu = $('#valid-reagents');
            //         menu.children().remove();
            //         data = JSON.parse(data);
            //         for (iRg = 0; iRg < data.length; iRg++) {
            //             var new_reagent = $('<option>', {
            //                 "value": data[iRg]["name"]
            //             });
            //             if (data[iRg]["is_solvent"]) {
            //                 new_reagent.text("Solvent");
            //             }
            //             menu.append(new_reagent);
            //         }

            //     } });
            // }

            function createSubmittedReagent(value) {
                var reagent = $('<span>', {
                    class : "submitted-reagent",
                    'title' : "Remove" 
                });
                reagent.text(value);
                $('.submitted-reagents-box').append(reagent);
            }

            displayMolecule('{{reactant}}', $('.reactants') );
            displayMolecule('{{product}}', $('.products') );
            

            //Do different things for certain keys
            $('#reagent-menu').keydown(function(e) {
                if (e.which == 13) {
                    // The enter key was pressed
                    e.preventDefault();
                    $('.add-reagent').click();
                }
               /* if (e.which == 32) {
                    return false; //prevents space bar from working
                }*/
            });

            // // Update dropdown when value is entered
            // $('#reagent-menu').keyup(function(e) {

            //     var rgStart = this.value;
            //     if (rgStart.length > 0) {
            //         updateValidReagents(rgStart);
            //     } else {
            //         $('#valid-reagents').children().remove();
            //     }
            // });


            // TODO: adjust this as needed!
            $( "#reagent-menu" ).autocomplete({
              minLength: 0,
              source: reagentNames,
              focus: function( event, ui ) {
                $( "#reagent-menu" ).val( ui.item.name );
                return false;
              },
              select: function( event, ui ) {
                $( "#reagent-menu" ).val( ui.item.name );
                $( "#reagent-id" ).val( ui.item.reagent );
                return false;
              }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
              return $( "<li>" )
                .append( "<a>" + item.name + "<br>" + item.description + "</a>" )
                .appendTo( ul );
            };




            // When a reagent is added, do this:
            $('.add-reagent').click(function(e) {
                var menu = $('#reagent-menu');
                var rID = $('#reagent-id').val();
                var reagentName = $.trim(menu.val());
                if (reagentName.length == 0) {
                    menu.val(''); //reset the bar in case there were spaces, etc. that got trimmed
                    menu.focus();
                    return;
                }

                // TODO: All answers are currently valid. Verify whats entered
                createSubmittedReagent(reagentName);
                $('.no-reagents').css("display", "none");
                menu.val('');
                menu.focus();

            });

            $('.submitted-reagents-box').on("click", "span", function(e) {
                $(this).remove();

                if ($('.submitted-reagent').length == 0) {
                    $('.no-reagents').css("display","inline");
                }
            });

            $('.check').click(function(e) {
                var submittedReagents = []
                $('.submitted-reagent').each( function(ii, ele) {
                    submittedReagents.push($(this).text());
                });

                $.ajax({ url:"/api/isCorrectReagentSet", data:{"submitted_reagents":submittedReagents, "solvent_id":1, "solution_ids":{{reagent_sets|safe}} }, success: function(data,st,x) {
                    console.log(data);
                    // TODO: print correct or wrong messages based on if data(correct) is True or False
                } });

                // if (correct) {
                //     $('.message').text("That's right!");
                // } else {
                //     $('.message').text("Not quite");
                // }

            });


        })
    </script>


</head>

<body>

    <div class="singleStepHardProblem">

        <div class="problem">
            <div class="reactants column">
            </div>

            <div class="reaction column">
                <div class="submitted-reagents-box">
                    <span class="no-reagents">? ?</span>
                </div>

                <div class="arrow">
                    <img src="http://felixsun.scripts.mit.edu/orgo/static/arrow.png"></img> <!-- Use a legit arrow later -->
                </div>

                <div class="solvent">
                    Reagents?
                </div>

                <div class="reagent-menu-box">
                    <input id="reagent-menu" type="text" placeholder="Insert reagent or solvent here" autofocus>
                    <input id="reagent-id" type="hidden">
                    <button class="add-reagent">Add</button>
                </div>
            </div>

            <div class="products column">
            </div>
        </div>

        <div class="controls">
            <button class="check">Submit</button>
            <span class="message"> Test message </span>

        </div>
    </div>



</body>

</html>
